body
{
  background-color: rgb(44, 59, 94);
}

div{
    color:rgb(214, 214, 214);
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
}

input{
  background-color: rgb(145, 145, 145);
  border-top: none;
  border-bottom: none;
}

select{
  background-color: rgb(145, 145, 145);
}